<style>
  .btn-social {
    display: block;
    width: 300px;
    margin: 3rem auto;
  }
</style>
<div class="container">
  <div class="starter-template">
    <h1>Codename: Shared Bucket</h1>
		<p class="lead">Thank you for participating in testing my app. Please be as thorough as you can when filling out your bucket list, since I need to see how similar or varied people's lists are!</p>
		<p class="lead">When adding a goal, you will choose between 3 types of goals: Activity, Accomplishment, and Traveling. Activities are things you do only <strong>one time</strong>, whereas Accomplishments are something you work <strong>multiple times for.</strong> <br>
			For example, "Start a novel" is an activity whereas "Finish a novel" is an Accomplishment. <br>
			"Go Snowboarding" is an activity and "Snowboard down a double-black diamond trail" is an Accomplishment!</p>
    <div ng-controller="AuthController as vm">
      <a ng-click="vm.login('facebook')" class="btn btn-block btn-social btn-lg btn-facebook"><i class="fa fa-facebook"></i>Sign in with Facebook</a>
      <a ng-click="vm.login('google')" class="btn btn-block btn-social btn-lg btn-google"><i class="fa fa-google"></i>Sign in with Google</a>
    </div>

  </div>
  <!--
  <div class="row">
    <div class="col-md-4">
      <h2>Ditch the clipboard</h2>
      <p>Use our simple app to manage your waiting list from your PC, tablet, or phone.</p>
    </div>
    <div class="col-md-4">
      <h2>Get your voice back</h2>
      <p>No need to yell every 5 minutes. You can text a List with just a tap.</p>
    </div>
    <div class="col-md-4">
      <h2>Customers will love you</h2>
      <p>Now they can go to the bathroom and still know their table is ready.</p>
    </div>
  </div>
-->
</div>
