<style>
	.capitalize {
		text-transform: capitalize;
	}
	.alert-warning {
		color: hsla(36,100%,20%,1);
	}
</style>
<div class="card media">
	<div class="media-left">
		<a href="#">
			<img class="media-object" width="100" ng-src="{{vm.user[vm.user.provider].profileImageURL}}">
		</a>
	</div>
	<div class="media-body">
		<h4 class="media-heading">{{vm.user[vm.user.provider].displayName}}'s Bucket List ({{vm.list.length}})</h4> Status:
		<span class="text-success">Online</span>
	</div>
</div>

<div class="alert alert-dismissible alert-warning" ng-show="vm.list.length < 2">
	<button type="button" class="close" data-dismiss="alert">×</button>
	<strong>Alert!</strong> Activities are things you do only one time, whereas Accomplishments are something you work multiple times for. <br>
	For example, "Finish a novel" is an Accomplishment, whereas "Start a novel" is an activity. "Snowboard down a double-black diamond trail" is an Accomplishment
	while "Go Snowboarding" is an activity!
</div>
<!--Form for adding new items.-->
<gz-item-form list="vm.list"></gz-item-form>

<div class="row">
	<!--Table for displaying items.-->
	<gz-item-table list="vm.list" update-profile="vm.updateProfile()" formatted-scope="vm.formattedScope"></gz-item-table>
</div>
<h3>Friend Lists</h3>
<div ng-repeat="friend in vm.shared | orderBy: 'profile.displayName'">
	<div ng-show="friend.profile.displayName && friend.profile.id !== vm.user.facebook.id">
		<div class="card media">
			<div class="media-left">
				<a href="#">
					<img class="media-object" width="100" ng-src="{{friend.profile.profileImageURL}}">
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading">{{friend.profile.displayName}} {{_.size([1, 2, 3]);}} test({{_.size(friend.list)}})</h4> Status:
				<span class="text-danger">Offline</span>
			</div>
		</div>
		<ul class="card list-group">
			<li class="list-group-item" ng-repeat="item in friend.list">
				<div ng-show="!item.private || vm.user[vm.user.provider].displayName === 'Long Dao'">
					<span ng-show="item.private" class="label label-danger">Private</span>
					<span ng-show="item.type" class="capitalize">({{item.type}}) </span> {{item.name}}
					<span ng-show="item.scope"> within {{item.scope / 12 | number: 1}} years.</span>
				</div>
			</li>
		</ul>
	</div>
</div>
