<style>
	.capitalize {
		text-transform: capitalize;
	}
	
	.alert-warning {
		color: hsla(36, 100%, 20%, 1);
	}
	
	#profile {
/*		min-height: 300px;*/
	}

</style>
<!--{{vm.d3Data()}}-->

<!--Alerts. todo: create directive for alerts-->
<!--
<div class="alert alert-dismissible alert-success" ng-show="vm.alert.itemAdded">
	<button type="button" class="close" data-dismiss="alert">×</button>
	<strong>Success!</strong> Item Added.
</div>
-->
<div class="alert alert-dismissible alert-success" ng-show="vm.alert.itemRemoved">
	<button type="button" class="close" data-dismiss="alert">×</button>
	<strong>Success!</strong> Item Removed.
</div>
<div class="alert alert-dismissible alert-info" ng-show="vm.alert.xpLog">
	<button type="button" class="close" data-dismiss="alert">×</button>
	You've gained 8 experience points from logging in!
</div>
<div class="alert alert-dismissible alert-info" ng-show="vm.alert.itemAdded">
	<button type="button" class="close" data-dismiss="alert">×</button>
	You've gained 16 experience points from adding an item!
</div>

<div id="profile" class="card media">
	<div class="media-left">
		<a href="#">
			<img class="media-object" width="100" ng-src="{{vm.user[vm.user.provider].profileImageURL}}">
		</a>
	</div>
	<div class="media-body">
		<h4 class="media-heading">
		{{vm.user[vm.user.provider].displayName}}
			<small ng-show="vm.list.length > 0"> with an average of {{vm.formatScope(vm.stats().scope.avg,' months',' years') }}!</small>
		</h4> 
<!--		Status: <span class="text-success">Online</span>-->
		Grade: <span class="text-info">{{vm.rank.class}}</span> Rank: <span class="text-info">{{vm.rank.speed}} {{vm.rank.title}}</span>
<!--		<span class="text-success">Online</span>-->
<!--		<d3-bars data="vm.d3Data()" label="title" class="capitalize"></d3-bars>-->
<!--
		
-->
	<div class="row">
		<div class="col-lg-12">
			<uib-progressbar max="max" value="vm.rank.xp" type="info"></uib-progressbar>
		</div>
	</div>
		<div class="row">
			<div class="col-lg-3 col-xs-3">
				<span class="glyphicon glyphicon-plane"></span>Traveling {{vm.stats().traveling.avg | number:0}}%
			</div>
			<div class="col-lg-3 col-xs-3">
				<span class="glyphicon glyphicon-sunglasses"></span>Activity {{vm.stats().activity.avg | number:0}}%
			</div>
			<div class="col-lg-3 col-xs-3">
				<span class="glyphicon glyphicon-king"></span>Accomplishment {{vm.stats().accomplishment.avg | number:0}}%
			</div>
			<div class="col-lg-3 col-xs-3 hidden-xs">
				Unsorted {{100 - vm.stats().activity.avg - vm.stats().accomplishment.avg - vm.stats().traveling.avg | number:0}}%
			</div>
		</div>

	</div>
</div>

<!--Form for adding new items.-->
<gz-item-form list="vm.list" rank="vm.rank"></gz-item-form>
<hr class="lead">
<div class="row">
	<!--Table for displaying items.-->
	<gz-item-table list="vm.list" rank="vm.rank"></gz-item-table>
</div>

<!--todo: move this to its own section-->
<h3><span class="fa fa-child"></span><span class="fa fa-child"></span> Friend Lists ({{vm.shared.length}})</h3>
<p class="lead">Note: Currently showing everything except private entries. This section will eventually be moved into its own page</p>
<div ng-repeat="friend in vm.shared | orderBy: 'profile.displayName'">
	<div ng-show="(friend.profile.displayName && friend.profile.id !== vm.user[vm.user.provider].id)" class="card">
		<div class="media">
			<div class="media-left">
				<a href="#">
					<img class="media-object" width="100" ng-src="{{friend.profile.profileImageURL}}">
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading">{{friend.profile.displayName}}</h4> 
				Status: <span class="text-danger">Offline</span>
				Grade: <span class="text-info">{{friend.rank.class}}</span> Rank: <span class="text-info">{{friend.rank.speed}} {{friend.rank.title}}</span>
				<div class="row">
					<div class="col-lg-3 col-xs-3">
						<span class="glyphicon glyphicon-plane"></span>Traveling {{friend.rank.stats.traveling.avgInt}}%
					</div>
					<div class="col-lg-3 col-xs-3">
						<span class="glyphicon glyphicon-sunglasses"></span>Activity {{friend.rank.stats.activity.avgInt}}%
					</div>
					<div class="col-lg-3 col-xs-3">
						<span class="glyphicon glyphicon-king"></span>Accomplishment {{friend.rank.stats.accomplishment.avgInt}}%
					</div>
<!--
					<div class="col-lg-3 col-xs-3 hidden-xs">
						Unsorted {{100 - vm.stats().activity.avg - vm.stats().accomplishment.avg - vm.stats().traveling.avg | number:0}}%
					</div>
-->
				</div>
			</div>
		</div>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="item in friend.list">
				<div ng-show="!item.private || vm.user[vm.user.provider].displayName === 'Long Dao'">
					<span ng-show="item.private" class="label label-danger">Private</span>
					<span ng-show="item.type" class="capitalize">({{item.type}}) </span> {{item.name}}
					<span ng-show="item.scope"> within {{item.scope / 12 | number: 1}} years.</span>
				</div>
			</li>
		</ul>
	</div>
</div>
