<style>
	.capitalize {
		text-transform: capitalize;
	}
	.alert-warning {
		color: hsla(36,100%,20%,1);
	}
</style>
{{vm.d3Data()}}.
{{vm.alert}}
<div class="alert alert-dismissible alert-success" ng-show="vm.alert.itemAdded">
	<button type="button" class="close" data-dismiss="alert">×</button>
	<strong>Success!</strong> Item Added.
</div>
<div class="card media">
	<div class="media-left">
		<a href="#">
			<img class="media-object" width="100" ng-src="{{vm.user[vm.user.provider].profileImageURL}}">
		</a>
	</div>
	<div class="media-body">
		<h4 class="media-heading">{{vm.user[vm.user.provider].displayName}}'s Bucket List ({{vm.list.length}})</h4> Status:
		<span class="text-success">Online</span>
		<d3-bars data="vm.d3Data()" label="title" class="capitalize"></d3-bars>
		<h5 ng-show="vm.list.length > 0">An average of {{vm.formatScope(vm.stats().scope.avg,' months',' years') }}! Activity {{vm.stats().activity.avg | number:0}}% Accomplishment {{vm.stats().accomplishment.avg | number:0}}% Traveling {{vm.stats().traveling.avg | number:0}}% Unsorted {{100 - vm.stats().activity.avg - vm.stats().accomplishment.avg - vm.stats().traveling.avg | number:0}}%</h5>
	</div>
</div>

<!--Form for adding new items.-->
<gz-item-form list="vm.list"></gz-item-form>
<hr class="lead">
<div class="row">
	<!--Table for displaying items.-->
	<gz-item-table list="vm.list" update-profile="vm.updateProfile()" formatted-scope="vm.formattedScope"></gz-item-table>
</div>

<!--Move this to its own section-->
<h3><span class="fa fa-child"></span><span class="fa fa-child"></span> Friend Lists</h3>
<p class="lead">Note: Currently showing everything except private entries. This section will eventually be moved into its own page</p>
<div ng-repeat="friend in vm.shared | orderBy: 'profile.displayName'">
	<div ng-show="friend.profile.displayName && friend.profile.id !== vm.user.facebook.id" class="card">
		<div class="media">
			<div class="media-left">
				<a href="#">
					<img class="media-object" width="100" ng-src="{{friend.profile.profileImageURL}}">
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading">{{friend.profile.displayName}}</h4> Status:
				<span class="text-danger">Offline</span>
			</div>
		</div>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="item in friend.list">
				<div ng-show="!item.private || vm.user[vm.user.provider].displayName === 'Long Dao'">
					<span ng-show="item.private" class="label label-danger">Private</span>
					<span ng-show="item.type" class="capitalize">({{item.type}}) </span> {{item.name}}
					<span ng-show="item.scope"> within {{item.scope / 12 | number: 1}} years.</span>
				</div>
			</li>
		</ul>
	</div>
</div>
