<style>
	body {
		background: #F5F5F5;
	}
	/*
    .add-item {
        padding: 5px;
        background: white;
    }
*/
	
	#item-form .item-form {
		margin: auto;
	}
	
	#item-form .btn-group {
		display: block;
		margin: 10px auto;
	}
	
	#item-form .input-name {
		padding: 6px 16px !important;
		font-size: 13px;
		line-height: 1.846;
	}
	
	#item-form .btn-submit {
		margin: 10px 0;
		display: block;
	}
</style>
<li id="item-form" class="list-group-item col-lg-12">
	<form ng-submit="vm.addItem()" class="add-item form-inline item-form" ng-mouseenter="vm.formHover()" ng-mouseleave="vm.formLeave()" role="form">
		<div class="name">
			<input ng-model="vm.newItem.name" type="text" class="input-xl col-lg-12 input-name" placeholder="Item Name" required>
		</div>
		<!--
    <div class="form-group">
        <input ng-model="vm.newItem.description" type="text" class="form-control" placeholder="Description">
    </div>
-->
		<div ng-show="vm.showForm" class="form-group">
				<div class="btn-group">
					<label class="btn btn-info btn-md" uib-btn-radio="1" ng-change="vm.updateItem(item)" ng-model="vm.newItem.scope" ng-required="true">
						1 month
					</label>
					<label class="btn btn-info btn-md" uib-btn-radio="6" ng-change="vm.updateItem(item)" ng-model="vm.newItem.scope">
						6 months
					</label>
					<label class="btn btn-info btn-md" uib-btn-radio="12" ng-change="vm.updateItem(item)" ng-model="vm.newItem.scope">
						1 year
					</label>
					<label class="btn btn-info btn-md" uib-btn-radio="60" ng-change="vm.updateItem(item)" ng-model="vm.newItem.scope">
						5 years
					</label>
					<label class="btn btn-info btn-md" uib-btn-radio="120" ng-change="vm.updateItem(item)" ng-model="vm.newItem.scope">
						10 years
					</label>
					<label class="btn btn-info btn-md" uib-btn-radio="240" ng-change="vm.updateItem(item)" ng-model="vm.newItem.scope">
						20 years
					</label>
					<label class="btn btn-info btn-md" uib-btn-radio="600" ng-change="vm.updateItem(item)" ng-model="vm.newItem.scope">
						50 years +
					</label>
				</div>
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-success btn-md" uib-btn-radio="'activity'" ng-change="vm.updateItem(item)" ng-model="vm.newItem.type" required>
					<span class="glyphicon glyphicon-sunglasses"></span> Activity
				</label>
				<label class="btn btn-success btn-md" uib-btn-radio="'accomplishment'" ng-change="vm.updateItem(item)" ng-model="vm.newItem.type">
					<span class="glyphicon glyphicon-king"></span> Accomplishment
				</label>
				<label class="btn btn-success btn-md" uib-btn-radio="'travelling'" ng-change="vm.updateItem(item)" ng-model="vm.newItem.type">
					<span class="glyphicon glyphicon-plane"></span> Traveling
				</label>
			</div>
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-default btn-md" name="private" uib-btn-checkbox="true" ng-change="vm.updateItem(item)" ng-model="vm.newItem.private">
					<span class="fa fa-child"></span> Make Private?
				</label>
			</div>
		</div>

		<button type="submit" class="btn btn-primary btn-submit">Add Item</button>
	</form>
</li>