<style>
	.list-group {
		list-style-type: none;
	}
	
	.list-group li {
		position: relative;
		padding: 8px;
	}
	
	.list-group li:nth-child(odd) {
		background: #fafafa;
	}
	
	.list-group .handle {
		cursor: move;
		position: absolute;
		top: 10px;
	}
	.list-group .form-group {
		margin-bottom: 0;
	}
	.list-group input-sm {
		height: 37px;	
	}
	.list-group .remove {
		position: absolute;
		right: 0;
		top: 0;
	}
	
	.list-group .name {
		margin-left: 20px;
	}
	
	.list-group input {
		border: none !important;
		box-shadow: none !important;
	}
	
	.list-group input:hover {
		border: none;
		box-shadow: none;
	}
	
	.dndPlaceholder {
		display: block;
		background-color: #ddd;
		min-height: 20px;
	}
	.inline-block {
		display: inline-block;
	}
	.name-block {
		width: 240px;
	}
</style>


<div class="col-lg-12">
	<ul class="list-group" dnd-list="vm.list">
		An average of {{vm.stats().scope.avg | number:0}} months  or {{vm.stats().scope.avg/12 | number:0}} years! 
		Activity {{vm.stats().activity.avg | number:0}}% 
		Accomplishment {{vm.stats().accomplishment.avg | number:0}}% 
		Traveling {{vm.stats().traveling.avg | number:0}}%
		Unsorted {{100 - vm.stats().activity.avg - vm.stats().accomplishment.avg - vm.stats().traveling.avg | number:0}}%
	
		
		<li class="list-group-item" ng-repeat="item in vm.list" ng-mouseenter="vm.hover(item)" ng-mouseleave="vm.hover(item)" dnd-draggable="item" dnd-moved="vm.list.splice($index, 1)" dnd-effect-allowed="move">
			<div class="handle">:::</div>
			<div class="name" dnd-nodrag>
				<div class="form-group inline-block name-block">
					<input type="text" ng-model="item.name" ng-change="vm.updateItem(item)" class="form-control input-sm">
				</div>
				<div class="form-group inline-block">
					<div class="btn-group" role="group" aria-label="scope">
						<div class="btn-group">
							<label class="btn btn-info btn-xs" uib-btn-radio="1" ng-change="vm.updateItem(item)" ng-model="item.scope">
								1m
							</label>
							<label class="btn btn-info btn-xs" uib-btn-radio="6" ng-change="vm.updateItem(item)" ng-model="item.scope">
								6m
							</label>
							<label class="btn btn-info btn-xs" uib-btn-radio="12" ng-change="vm.updateItem(item)" ng-model="item.scope">
								1y
							</label>
							<label class="btn btn-info btn-xs" uib-btn-radio="60" ng-change="vm.updateItem(item)" ng-model="item.scope">
								5y
							</label>
							<label class="btn btn-info btn-xs" uib-btn-radio="120" ng-change="vm.updateItem(item)" ng-model="item.scope">
								10y
							</label>
							<label class="btn btn-info btn-xs" uib-btn-radio="240" ng-change="vm.updateItem(item)" ng-model="item.scope">
								20y
							</label>
							<label class="btn btn-info btn-xs" uib-btn-radio="600" ng-change="vm.updateItem(item)" ng-model="item.scope">
								50y+
							</label>
						</div>
					</div>
				</div>
				<div class="form-group inline-block">
					<div class="btn-group" role="group" aria-label="scope">
						<div class="btn-group">
							<label class="btn btn-success btn-xs" uib-btn-radio="'activity'" ng-change="vm.updateItem(item)" ng-model="item.type">
								Activity
							</label>
							<label class="btn btn-success btn-xs" uib-btn-radio="'accomplishment'" ng-change="vm.updateItem(item)" ng-model="item.type">
								Accomplishment
							</label>
							<label class="btn btn-success btn-xs" uib-btn-radio="'traveling'" ng-change="vm.updateItem(item)" ng-model="item.type">
								Traveling
							</label>
						</div>
					</div>
				</div>
				<div class="form-group inline-block">
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-default btn-xs" name="private" uib-btn-checkbox="true" ng-change="vm.updateItem(item)" ng-model="item.private">
							<span class="fa fa-child"></span> Private
						</label>
					</div>
				</div>
				<button ng-show="item.hover" ng-click="vm.removeItem(item)" class="remove btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash icon-white"></i></button>
				<!--
				<label class="btn btn-success" btn-radio="'bill'" ng-change="vm.updateItem(item)" ng-model="item.test">
					Insert New Bill <span class="glyphicon glyphicon-file"></span>
				</label>
				<label class="btn btn-success" btn-radio="'coin'" ng-change="vm.updateItem(item)" ng-model="item.test">
					Insert New Coin <span class="glyphicon glyphicon-adjust"></span>
				</label>
-->
			</div>
		</li>
		<li class="dndPlaceholder">

		</li>
	</ul>
</div>

<!--

<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Done?</th>
			<th>Name</th>
			<th>Shared with</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tr ng-repeat="item in vm.list">
		<td>
			<input ng-model="item.done" ng-change="vm.toggleDone(item)" type="checkbox">
		</td>
		<td>
			<div><strong>{{ item.name }}</strong></div>
			<div>{{ item.description }}</div>
		</td>
		<td>
			<div>{{ item.notified ? 'Yes' : 'No one' }}</div>
		</td>
		<td>
			<button ng-click="vm.removeItem(item)" class="btn btn-danger">X</button>
		</td>
	</tr>
</table>-->
