<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Done?</th>
        <th>Name</th>
        <th>Shared with</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tr ng-repeat="item in vm.list">
        <td>
            <input ng-model="item.done" ng-change="vm.toggleDone(item)" type="checkbox">
        </td>
        <td>
            <div><strong>{{ item.name }}</strong></div>
            <div>{{ item.description }}</div>
        </td>
        <td>
            <div>{{ item.notified ? 'Yes' : 'No one' }}</div>
        </td>
        <td>
            <button ng-click="vm.removeItem(item)" class="btn btn-danger">X</button>
        </td>
    </tr>
</table>
