<style>
	.list-group {
		list-style-type: none;
	}
	.list-group li {
		position: relative;	
		padding: 8px;
	}
	.list-group li:nth-child(odd) {
		background:#fafafa;
	}
	.list-group .handle {
		cursor: move;
		position: absolute;
		top: 10px;
	}
	.list-group .remove {
		position: absolute;
		right: 0;
		top: 0;
	}
	.list-group .name {
		margin-left: 20px;
	}
	.list-group input {
		border: none !important;
		box-shadow: none !important;
	}
	.list-group input:hover {
		border: none;
		box-shadow: none;
	}
	.dndPlaceholder {
		display: block;
		background-color: #ddd;
		min-height: 20px;
	}
</style>

<div class="row"><div class="col-lg-6">
	<ul class="list-group" dnd-list="vm.list">

		<li class="list-group-item" ng-repeat="item in vm.list" ng-mouseenter="vm.hover(item)" ng-mouseleave="vm.hover(item)" dnd-draggable="item" dnd-moved="vm.list.splice($index, 1)" dnd-effect-allowed="move">
		<div class="handle">:::</div>
		<div class="name" dnd-nodrag>
			<input type="text" ng-model="item.name" class="form-control input-sm">
			<button ng-show="item.showDelete" ng-click="vm.removeItem(item)" class="remove btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash icon-white"></i></button>
			
		</div>
	</li>
	<li class="dndPlaceholder">
		
	</li>
</ul>
	</div></div>
<!--

<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Done?</th>
			<th>Name</th>
			<th>Shared with</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tr ng-repeat="item in vm.list">
		<td>
			<input ng-model="item.done" ng-change="vm.toggleDone(item)" type="checkbox">
		</td>
		<td>
			<div><strong>{{ item.name }}</strong></div>
			<div>{{ item.description }}</div>
		</td>
		<td>
			<div>{{ item.notified ? 'Yes' : 'No one' }}</div>
		</td>
		<td>
			<button ng-click="vm.removeItem(item)" class="btn btn-danger">X</button>
		</td>
	</tr>
</table>-->
