<style>
	.capitalize {
		text-transform: capitalize;
	}
</style>
<div class="alert alert-dismissible alert-warning">
	<button type="button" class="close" data-dismiss="alert">×</button>
	<strong>Heads up!</strong> Activities are things you do only one time, whereas Accomplishments are something you work multiple times for. <br>
	For example, "Finish a novel" is an Accomplishment, whereas "Start a novel" is an activity. "Snowboard down a double-black diamond trail" is an Accomplishment
	while "Go Snowboarding" is an activity!
</div>
<div class="media">
	<div class="media-left">
		<a href="#">
			<img class="media-object" width="100" ng-src="{{vm.user[vm.user.provider].profileImageURL}}">
		</a>
	</div>
	<div class="media-body">
		<h4 class="media-heading">{{vm.user[vm.user.provider].displayName}}'s Bucket List ({{vm.list.length}})</h4> Status:
		<span class="text-success">Online</span>
	</div>
</div>
<!--Form for adding new items.-->
<gz-item-form list="vm.list"></gz-item-form>

<div class="row">
	<!--Table for displaying items.-->
	<gz-item-table list="vm.list"></gz-item-table>
</div>
<h3>Friend Lists</h3>
<div ng-repeat="friend in vm.shared | orderBy: 'profile.displayName'">
	<div ng-show="friend.profile.displayName && friend.profile.id !== vm.user.facebook.id">
		<div class="media">
			<div class="media-left">
				<a href="#">
					<img class="media-object" width="100" ng-src="{{friend.profile.profileImageURL}}">
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading">{{friend.profile.displayName}}</h4> Status:
				<span class="text-danger">Offline</span>
			</div>
		</div>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="item in friend.list">
				<div ng-show="!item.private">
					<span ng-show="item.type" class="capitalize">({{item.type}}) </span> {{item.name}}
					<span ng-show="item.scope"> within {{item.scope / 12 | number: 1}} years.</span>
				</div>
			</li>
		</ul>
	</div>
</div>

<!--

<h5>Activities</h5>
<li>Jet Skiing</li>
<li>Alpine Skiing</li>
<li>Fly a plane</li>
<li>Bungee Jumping</li>
<li>Rock climb a mountain</li>
<li>Ice climbing</li>
<li>Sky Diving</li>
<li>Scuba Diving/ Freshwater cave diving</li>
<li>Paragliding</li>
<li>Kayak/Whiteriver rafting Grand Canyon</li>
<li>Surfing</li>
<li>Wake boarding</li>
<li>Kite surfing</li>
<li>Zip lining</li>
<li>Hot air balloon</li>
<li>Horseback riding</li>
<li>Zorbing</li>
<li>Downhill mountain biking</li>

<h5>Traveling</h5>
<li>See the northern lights</li>
<li>See Europe</li>
<li>See the Arctic/Antarctic</li>
<li>See an active volcano</li>
<li>Go backpacking</li>
<li>Go on a cruise</li>
<li>See Mt Ranier</li>
<h5>Achievements</h5>
<li>Learn a martial art</li>
<li>Do a backflip</li>
<li>Get 6 pack abs</li>
<li>Be good at a musical instrument</li>
<li>Start a Company</li>-->